rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PERMITIR TUDO (apenas para teste)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
